@model ProcCore.Business.DB0.News
@using ProcCore.Business.DB0
@{
    ViewBag.Title = "社區訊息";
    ViewBag.BodyClass = "News";
    ViewBag.breadCrumb = Model.news_title;
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="">社區訊息</a></li>
}

<h1 class="title-underline-d">
    社區訊息
    <small class="block">@Model.day.ToString("yyyy/MM/dd")</small>@* 訊息更新時間 *@
</h1>

<section class="news-contend">
    <span class="label @CodeSheet.GetStateVal(Model.news_type, i_CodeName.IconClass, CodeSheet.news_type)">
        @CodeSheet.GetStateVal(Model.news_type, i_CodeName.Value, CodeSheet.news_type)
    </span>
    <header class="font-xl">
        @ViewBag.breadCrumb
    </header>
    <article>
        @Html.Raw(Model.news_content)
    </article>
</section>

<a href="javascript:history.back()" class="btn">回列表</a>