@model List<ProcCore.Business.DB0.m_News>
@using ProcCore.Business.DB0
@{
    ViewBag.Title = "社區訊息";
    ViewBag.BodyClass = "News";
    ViewBag.breadCrumb = "社區訊息";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {

}

<h1 class="title-underline-d">
    @ViewBag.breadCrumb
    <small class="block">NEWS</small>
</h1>

<ul class="news-list list-inline">
    @foreach (var i in Model)
    {
        <li class="swiper-slide @CodeSheet.GetStateVal(i.news_type,i_CodeName.ClassName, CodeSheet.news_type)">
            <header>
                @i.day.ToString("yyyy/MM/dd")
                <span class="label float-r">@CodeSheet.GetStateVal(i.news_type, i_CodeName.Value, CodeSheet.news_type)</span>
            </header>
            @* 最多 42 個字，超過加... *@
            <a href="~/News/Content?id=@i.news_id" class="block">
                @if (i.news_title.Length >= 43)
                {
                    @i.news_title.Substring(0, 43) <span>...</span>
                }
                else
                {
                    @i.news_title
                }
            </a>
            <a href="~/News/Content?id=@i.news_id" class="btn btn-white font-sp">MORE</a>
        </li>
    }
</ul>