@using DotWeb.Controller;
@{
    IEnumerable<CategoryL1Data> category_stroe = null;
    if (ViewBag.CategoryStroe != null)
    {
        category_stroe = (IEnumerable<CategoryL1Data>)ViewBag.CategoryStroe;
    }
}
<!DOCTYPE html>
<html lang="zh-TW">
<!-- saved from url=(0014)about:internet -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title:@Resources.Res.System_FrontName</title>
    <meta name="keywords" content="@Resources.Res.Keywords">
    <meta name="description" content="@Resources.Res.Description">
    <script src="~/Scripts/cdn/BrowerInfo.js"></script>
    <script>
        var gb_approot = '@Url.Content("~")';
    </script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="~/Content/css/vendor/icomoon.css" rel="stylesheet">
    <link href="~/Content/css/grid.css" rel="stylesheet">
    @if (ViewBag.IsFirstPage)
    {
        <link href="~/Content/css/index.css?v=@CommWebSetup.CacheVer" rel="stylesheet">
    }
    else
    {
        <link href="~/Content/css/page.css?v=@CommWebSetup.CacheVer" rel="stylesheet">
    }
    @RenderSection("css", false)
</head>

<body class="@ViewBag.BodyClass">

    <div id="wrapper">

        <header id="header">
            <div class="wrap">

                @RenderSection("includeHeader", false)

                @if (!ViewBag.IsFirstPage)
                {
                    <h1 class="logo" onclick="location.href='@Url.Content("~/Index/Notice")'" title="回首頁" tabindex="-1">
                        @Resources.Res.System_FrontName
                        <small>智慧住宅管理平台</small>
                    </h1>

                    <div class="top-member">
                        @* 有圖時顯示此
                            <div class="float-l">
                                <img src="~/Member/photo.jpg" alt="" class="head">
                            </div> *@

                        @* 無圖時顯示下列 *@
                        <a href="~/Member/Edit" class="head icon-photo_camera"></a>

                        <p class="col-rest margin-0">
                            <span class="text-primary block">住戶 @ViewBag.r_no</span>
                            <strong class="font-xl">@ViewBag.r_name</strong>
                            <a href="~/Member" class="icon-mode_edit" title="編輯資料"></a>
                            <a href="~/Login/Logout" class="icon-log-out">登出</a>
                        </p>
                    </div><!-- top-member //-->

                    <ul id="menu" class="navbar">
                        <li><a href="~/News" class="root @(ViewBag.BodyClass == "News" ? "current" : "")">社區訊息</a></li>

                        @foreach (var i in category_stroe)
                        {
                            <li>
                                <a href=@Url.Content(i.url) class="root @(ViewBag.BodyClass == i.body_class ? "current" : "")">@i.name</a>
                                @if (i.count > 1)
                                {
                                    <nav class="sub-nav">
                                        <dl class="wrap">
                                            <dt class="float-l"><img src=@Url.Content(i.img_url) alt="圖標"></dt>
                                            <dd class="col-rest">
                                                @foreach (var j in i.categoryL2Data)
                                                {
                                                    <a href="@Url.Content(i.url + "?l2_id=" + j.id)">@j.name</a>
                                                }
                                            </dd>
                                        </dl>
                                    </nav>
                                }
                            </li>
                        }

                        <li><a href="~/Comments" class="root @(ViewBag.BodyClass == "Comments" ? "current" : "")">留言板</a></li>
                        <li><a href="~/Explain" class="root @(ViewBag.BodyClass == "Explain" ? "current" : "")">操作說明</a></li>
                        <li>
                            <a href="~/Service" class="root @(ViewBag.BodyClass == "Service" ? "current" : "")">公設預約</a>
                            <nav class="sub-nav">
                                <dl class="wrap">
                                    <dt class="float-l"><img src="~/Content/images/nav-icon-service.gif" alt="圖標"></dt>
                                    <dd class="col-rest">
                                        <a href="~/Service">我的預約清單</a>
                                        <a href="~/Service/Reserve">交誼廳預約</a>
                                        <a href="~/Service/Reserve">會議室預約</a>
                                        <a href="~/Service/Reserve">遊樂室預約</a>
                                        <a href="~/Service/Reserve">健身房預約</a>
                                    </dd>
                                </dl>
                            </nav>
                        </li>
                    </ul>

                    <form action="" class="search" data-expand="box">
                        <input type="Search" class="extend-input" data-expand="input" placeholder="輸入關鍵字..." onkeyup="buttonUp();">
                        <button class="icon-magnifying-glass extend-btn" data-expand="btn"></button>
                        <span class="icon-magnifying-glass extend-toggle" data-expand="toggle"></span>
                    </form>
                }
            </div>
        </header><!-- header //-->

        @if (ViewBag.IsFirstPage)
        {
            @RenderBody()
        }
        else
        {
            <main id="main">

                <ul class="breadcrumb">
                    <li><a href="~/index" class="icon-home"></a></li>
                    @RenderSection("breadCrumb", required: false)
                    <li>@ViewBag.breadCrumb</li> @* 當前頁名稱 *@
                </ul>

                @RenderBody()

            </main>
        }

    </div><!-- wrapper //-->

    <a href="#header" class="goTop icon-chevron-thin-up" title="↑TOP"></a>

    <footer id="footer">
        <div class="wrap row-pad">
            <section class="col-3">
                <h1 class="logo text-center" onclick="location.href='@Url.Content("~/index")'" title="回首頁" tabindex="-1">
                    @Resources.Res.System_FrontName
                    <small>智慧住宅管理平台</small>
                </h1>
                <div class="copyright">&copy; 2016 | PRIVACY POLICY</div>
            </section>

            <section class="col-4 foot-contact">
                <h4 class="font-sp title-underline">CONTACT US</h4>
                <p class="font-xl font-sp">03-451-6441</p>
                <p>桃園縣中壢市四維路16號</p>
                <p><a href="mailto:steven0122778@hotmail.com">steven0122778@hotmail.com</a></p>
            </section>

            <section class="col-3 foot-partner">
                <h4 class="font-sp title-underline">OUR PARTNER</h4>
                <nav class="">
                    <a href="">揚庭保全</a>
                    <a href="">洋庭物業</a>
                    <a href="">鄉德建設</a>
                </nav>
            </section>

            <section class="col-2">
                <h4 class="font-sp title-underline">SHARE</h4>
                <nav class="social">
                    <a href="" class="icon-facebook-with-circle" title="Facebook"></a>
                    <a href="" class="icon-google-with-circle" title="google plus"></a>
                </nav>
            </section>
        </div><!-- wrap -->
    </footer><!-- footer -->

    <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    @if (!ViewBag.IsFirstPage) {
        <script src="~/Content/js/jquery.scroller.js"></script>
    }
    <script src="~/Content/js/common.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>