<!DOCTYPE html>
<html lang="zh-TW">
<!-- saved from url=(0014)about:internet -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title:@Resources.Res.System_FrontName</title>
    <meta name="keywords" content="@Resources.Res.Keywords">
    <meta name="description" content="@Resources.Res.Description">
    <script src="~/Scripts/cdn/BrowerInfo.js"></script>
    <script>
        var gb_approot = '@Url.Content("~")';
    </script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="~/Content/css/vendor/icomoon.css" rel="stylesheet">
    <link href="~/Content/css/grid.css" rel="stylesheet">
    @if (ViewBag.IsFirstPage)
    {
        <link href="~/Content/css/index.css?v=@CommWebSetup.CacheVer" rel="stylesheet">
    }
    else
    {
        <link href="~/Content/css/page.css?v=@CommWebSetup.CacheVer" rel="stylesheet">
    }
    @RenderSection("css", false)
</head>

<body class="@ViewBag.BodyClass">

    <div id="wrapper">

        <header id="header">
            <div class="wrap">

                @RenderSection("includeHeader", false)

                @if (!ViewBag.IsFirstPage)
                {
                    <h1 class="logo" onclick="location.href='@Url.Content("~/Index/Notice")'" title="回首頁" tabindex="-1">
                        @Resources.Res.System_FrontName
                        <small>智慧住宅管理平台</small>
                    </h1>

                    <div class="top-member">
                        @* 有圖時顯示此
                        <div class="float-l">
                            <img src="~/Member/photo.jpg" alt="" class="head">
                        </div> *@

                        @* 無圖時顯示下列 *@
                        <a href="~/Member/Edit" class="head icon-photo_camera"></a>

                        <p class="col-rest margin-0">
                            <span class="text-primary block">住戶 360</span>
                            <strong class="font-xl">王小明</strong>
                            <a href="~/Member/Edit" class="icon-mode_edit" title="編輯資料"></a>
                            <a href="" class="icon-log-out">登出</a>
                        </p>
                    </div><!-- top-member //-->

                    <ul id="menu" class="navbar">
                        <li><a href="~/News" class="root @(ViewBag.BodyClass == "News" ? "current" : "")">社區訊息</a></li>
                        <li><a href="~/AboutUs" class="root @(ViewBag.BodyClass == "AboutUs" ? "current" : "")">社區介紹</a></li>

                        <li>
                            <a href="~/Assets" class="root caret @(ViewBag.BodyClass == "Assets" ? "current" : "")">資產管理</a>
                            <nav class="sub-nav">
                                <dl class="wrap">
                                    <dt class="float-l"><img src="~/Content/images/nav-icon-Assets.gif" alt="圖標"></dt>
                                    <dd class="col-rest">
                                        <a href="~/Assets">資產管理制度說明</a>
                                        <a href="~/Assets">產權管理制度說明</a>
                                        <a href="~/Assets">租賃管理制度說明</a>
                                        <a href="~/Assets">設施使用動態管理說明</a>
                                        <a href="~/Assets">各項設施設備使用規範說明</a>
                                    </dd>
                                </dl>
                            </nav>
                        </li>

                        <li>
                            <a href="~/Efficacy" class="root caret @(ViewBag.BodyClass == "Efficacy" ? "current" : "")">效能管理</a>
                            <nav class="sub-nav">
                                <dl class="wrap">
                                    <dt class="float-l"><img src="~/Content/images/nav-icon-Efficacy.gif" alt="圖標"></dt>
                                    <dd class="col-rest">
                                        <a href="~/Efficacy">預期使用機能需求評估與規劃說明</a>
                                        <a href="~/Efficacy">品質管理制度說明</a>
                                        <a href="~/Efficacy">管理績效評估標準說明</a>
                                        <a href="~/Efficacy">設施管理整合作業說明</a>
                                        <a href="~/Efficacy">決策支援說明</a>
                                    </dd>
                                <dl>
                            </nav>
                        </li>

                        <li>
                            <a href="~/Group" class="root caret @(ViewBag.BodyClass == "Group" ? "current" : "")">組織管理</a>
                            <nav class="sub-nav">
                                <dl class="wrap">
                                    <dt class="float-l"><img src="~/Content/images/nav-icon-Group.gif" alt="圖標"></dt>
                                    <dd class="col-rest">
                                        <a href="~/Group">管理組織型態與編制說明</a>
                                        <a href="~/Group">人員證照說明</a>
                                        <a href="~/Group">專業協約廠商管理說明</a>
                                        <a href="~/Group">人事管理制度</a>
                                    </dd>
                                <dl>
                            </nav>
                        </li>

                        <li>
                            <a href="~/Management" class="root caret @(ViewBag.BodyClass == "Management" ? "current" : "")">維運管理</a>
                            <nav class="sub-nav">
                                <dl class="wrap">
                                    <dt class="float-l"><img src="~/Content/images/nav-icon-Management.gif" alt="圖標"></dt>
                                    <dd class="col-rest">
                                        <a href="~/Management">年度設備管理維護計畫</a>
                                        <a href="~/Management">各項設施設備管理維護規範</a>
                                        <a href="~/Management">設施智慧化圖說</a>
                                        <a href="~/Management">緊急應變計畫</a>
                                    </dd>
                                <dl>
                            </nav>
                        </li>

                        <li>
                            <a href="~/Fix" class="root caret @(ViewBag.BodyClass == "Fix" ? "current" : "")">長期修繕</a>
                            <nav class="sub-nav">
                                <dl class="wrap">
                                    <dt class="float-l"><img src="~/Content/images/nav-icon-Fix.gif" alt="圖標"></dt>
                                    <dd class="col-rest">
                                        <a href="~/Fix">長期修繕計畫</a>
                                        <a href="~/Fix">長期修繕財務籌措計畫</a>
                                    </dd>
                                <dl>
                            </nav>
                        </li>

                        <li><a href="~/Comments" class="root @(ViewBag.BodyClass == "Comments" ? "current" : "")">留言板</a></li>
                        <li><a href="~/Explain" class="root @(ViewBag.BodyClass == "Explain" ? "current" : "")">操作說明</a></li>
                        <li><a href="~/Service" class="root @(ViewBag.BodyClass == "Service" ? "current" : "")">公設預約</a></li>
                    </ul>

                    <form action="" class="search" data-expand="box">
                        <input type="Search" class="extend-input" data-expand="input" placeholder="輸入關鍵字..." onkeyup="buttonUp();">
                        <button class="icon-magnifying-glass extend-btn" data-expand="btn"></button>
                        <span class="icon-magnifying-glass extend-toggle" data-expand="toggle"></span>
                    </form>
                }
            </div>
        </header><!-- header //-->

        @if (ViewBag.IsFirstPage)
        {
            @RenderBody()
        }
        else
        {
            <main id="main">

                <ul class="breadcrumb">
                    <li><a href="~/index" class="icon-home"></a></li>
                    @RenderSection("breadCrumb", required: false)
                    <li>@ViewBag.breadCrumb</li> @* 當前頁名稱 *@
                </ul>

                @RenderBody()

            </main>
        }

    </div><!-- wrapper //-->

    <a href="#header" class="goTop icon-chevron-thin-up" title="↑TOP"></a>

    <footer id="footer">
        <div class="wrap row-pad">
            <section class="col-3">
                <h1 class="logo text-center" onclick="location.href='@Url.Content("~/index")'" title="回首頁" tabindex="-1">
                    @Resources.Res.System_FrontName
                    <small>智慧住宅管理平台</small>
                </h1>
                <div class="copyright">&copy; 2016 | PRIVACY POLICY</div>
            </section>

            <section class="col-4 foot-contact">
                <h4 class="font-sp title-underline">CONTACT US</h4>
                <p class="font-xl font-sp">03-451-6441</p>
                <p>桃園縣中壢市四維路16號</p>
                <p><a href="mailto:steven0122778@hotmail.com">steven0122778@hotmail.com</a></p>
            </section>

            <section class="col-3 foot-partner">
                <h4 class="font-sp title-underline">OUR PARTNER</h4>
                <nav class="">
                    <a href="">揚庭保全</a>
                    <a href="">洋庭物業</a>
                    <a href="">鄉德建設</a>
                </nav>
            </section>

            <section class="col-2">
                <h4 class="font-sp title-underline">SHARE</h4>
                <nav class="social">
                    <a href="" class="icon-facebook-with-circle" title="Facebook"></a>
                    <a href="" class="icon-google-with-circle" title="google plus"></a>
                </nav>
            </section>
        </div><!-- wrap -->
    </footer><!-- footer -->

    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="~/Content/js/common.js"></script>

    @* icon-https://linearicons.com/free *@
    <script src="//cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>

    <script src="~/Content/js/tab.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>