<!DOCTYPE html>
<html lang="zh-TW">
<!-- saved from url=(0014)about:internet -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title:@Resources.Res.System_FrontName</title>
    <meta name="keywords" content="@Resources.Res.Keywords">
    <meta name="description" content="@Resources.Res.Description">
    <script src="~/Scripts/cdn/BrowerInfo.js"></script>
    <script>
        var gb_approot = '@Url.Content("~")';
    </script>
    @if (ViewBag.IsFirstPage)
    {
        <link href="~/Content/css/index.css?v=@CommWebSetup.CacheVer" rel="stylesheet">
    }
    else
    {
        <link href="~/Content/css/page.css?v=@CommWebSetup.CacheVer" rel="stylesheet">
    }
    <link href="~/Content/css/vendor/icomoon.css?v=@CommWebSetup.CacheVer" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic' rel='stylesheet' type='text/css'>
    @RenderSection("css", false)
</head>

<body class="@ViewBag.BodyClass">
    
    <div id="wrapper">

        <header id="header">
            <div class="wrap">

                <h1 class="logo"><a href="~/Index" title="回首頁">@Resources.Res.System_FrontName</a></h1>

                <ul class="topNav list-inline">
                    <li><a href="http://www.jojogo168.com/42700981_001" target="_blank"><i class="icon-cart"></i>我要購物</a></li>
                </ul>

                <nav id="menu" class="navbar">
                	<h2 class="sr-only">主選單</h2>
                	<ul class="nav navbar-nav">
                		<li>
                			<a href="~/AboutUs"><i class="icon-members"></i>關於我們</a>
                		</li>
                		<li>
                			<a href="~/Plan"><i class="icon-money"></i>百業商品交流</a>
                		</li>
                		<li>
                			<a href="~/Sell/List"><i class="icon-house"></i>我要買房</a>
                		</li>
                		<li>
                			<a href="~/Rent/List"><i class="icon-building"></i>我要租屋</a>
                		</li>
                		<li>
                			<a href="~/Vendor"><i class="icon-sale"></i>特惠商品</a>
                		</li>
                		<li>
                			<a href="~/Neighbor/List"><i class="icon-diamond"></i>幸福商圈</a>
                		</li>
                		<li>
                			<a href="~/Partner"><i class="icon-joinus"></i>交流專區</a>
                		</li>
                        <li>
                            <a href="~/VIP"><i class="icon-form"></i>加入幸福商圈</a>
                        </li>
                	</ul>
                </nav>

            </div><!-- wrap //-->
        </header><!-- header //-->

        <main id="main">
            @RenderBody()
        </main>

    </div><!-- wrapper //-->

    <footer id="footer">
        <div class="wrap">
            <h1 class="logo"><a href="~/Index" title="回首頁">@Resources.Res.System_FrontName</a></h1>
            <div class="copyright">Happiness Agent &copy; 2016</div>
            <ul class="social list-inline">
                <li><a href="https://www.facebook.com/754952781302809/" target="new"><i class="icon-fb"></i><span class="sr-only">Facebook</span></a></li>
                <li><a href=""><i class="icon-gplus"></i><span class="sr-only">Google+</span></a></li>
            </ul>
            <ul class="contact list-inline">
                <li><i class="icon-phone"></i><span class="sr-only">電話</span>03-3180692</li>
                <li><i class="icon-fax"></i><span class="sr-only">傳真</span>03-3180693</li>
                <li><i class="icon-mail"></i><span class="sr-only">E-mail</span><a href="mailto:ahagentcom@gmail.com">ahagentcom@gmail.com</a></li>
            </ul>
            <a href="#header" class="goTop scroll img-circle"><i class="icon-angle-double-up"></i></a>
        </div>
    </footer><!-- footer -->

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="~/Content/js/jquery.lazyload.min.js"></script>
    <script type="text/javascript">
        // Lazyload
        $("img.lazy").lazyload({effect : "fadeIn"});

        // 回頂端
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.goTop').fadeIn();
            } else {
                $('.goTop').fadeOut();
            }
        });
        $('.scroll').click(function (event) {
            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top - 50
            }, 1000);
            event.preventDefault();
        });
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>