@model DotWeb.Controllers.IndexInfo
@using ProcCore.Business.DB0
@{
    ViewBag.Title = "WELCOME";
    ViewBag.BodyClass = "Notice";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/Content/css/vendor/swiper.min.css">
}
@section Scripts {
    <script src="~/Content/js/swiper/swiper.min.js"></script>
    <script>
        var mySwiper = new Swiper('.carousel', {
            autoplay: 4000,
            speed: 1000,
            slidesPerView: 4,
            // slidesPerColumnFill: 'row',
            spaceBetween: 22,
            autoplayDisableOnInteraction: false,
            prevButton: '.prev',
            nextButton: '.next',
        });
    </script>
}

<section class="grid-intro">
    <figure>
        @* 今天日期 *@
        <span class="time font-sp">
            @DateTime.Now.ToString("yyyy/MM")<em>@DateTime.Now.ToString("dd")</em>
        </span>
        <figcaption>
            <h4 class="text-info font-xxl">1500</h4>
            <p class="font-lg">社區總人數</p>
        </figcaption>
    </figure>

    <figure>
        <a href="~/AboutUs"></a>
        <figcaption>
            <h4 class="text-info font-xxl">社區介紹</h4>
            <p class="font-lg font-sp">INTRODUCTION</p>
        </figcaption>
    </figure>

    <figure>
        <a href="~/Assets"></a>
        <figcaption>
            <h4 class="text-info font-xxl">社區資產</h4>
            <p class="font-lg font-sp">ASSETS</p>
        </figcaption>
    </figure>
</section>

<section class="grid-news bg-white">
    <h1 class="title-underline-d">
        社區最新消息
        <small class="block">LATEST NEWS</small>
    </h1>
    <div class="carousel swiper-container">
        <ul class="news-list swiper-wrapper">
            @foreach (var i in Model.news)
            {
                <li class="swiper-slide @CodeSheet.GetStateVal(i.news_type,i_CodeName.ClassName, CodeSheet.news_type)">
                    <header>
                        @i.day.ToString("yyyy/MM/dd")
                        <span class="label float-r">@CodeSheet.GetStateVal(i.news_type, i_CodeName.Value, CodeSheet.news_type)</span>
                    </header>
                    @* 最多 42 個字，超過加... *@
                    <a href="~/News/Content?id=@i.news_id" class="block">
                        @if (i.news_title.Length >= 43)
                        {
                            @i.news_title.Substring(0, 43) <span>...</span>
                        }
                        else
                        {
                            @i.news_title
                        }
                    </a>
                    <a href="~/News/Content?id=@i.news_id" class="btn btn-white font-sp">MORE</a>
                </li>
            }
        </ul>
    </div><!-- carousel //-->
    <span class="prev icon-chevron-thin-left"></span>
    <span class="next icon-chevron-thin-right"></span>
</section>

<section class="grid-doc">
    <h2 class="text-primary">近期更新文件</h2>
    <nav>
        @* 最多顯示 6 則 *@
        @foreach (var i in Model.editors)
        {
            <a href="@Url.Content(i.url+"?l2_id="+i.l2_id)" class="grid">
                <h3 class="text-success">
                    @i.l1_name
                    <small class="block font-md">@i.l2_name</small>
                </h3>
            </a>
        }
    </nav>
</section>