@model DotWeb.WebApp.Controllers.m_Editor
@{
    ViewBag.Title = Model.name;
    ViewBag.BodyClass = "Assets";
    ViewBag.breadCrumb = "資產管理制度說明";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/jquery.scroller.js"></script>
    <script>
        $('.scroll-nav').scroller({
            bodyName: '#main'
        });
    </script>
}
@section breadCrumb {
    <li><a href="~/Assets">@Model.name</a></li>
}

<h1 class="title-underline-d">
    @ViewBag.breadCrumb
    <small class="block">@(((DateTime)Model.UpdateDatetime).ToString("yyyy/MM/dd"))</small>@* 最後更新日期 *@
</h1>

@if (Model.detail != null & Model.detail.Count() > 1)
{
    <nav class="scroll-nav">
        @foreach (var i in Model.detail)
        {
            <a href=@("#p-"+i.id)>@i.name</a>
        }
    </nav>

    foreach (var i in Model.detail)
    {
        <article id=@("p-"+i.id) class="editor-content scroll-content">
            <h2 class="title">@i.name</h2>
            @Html.Raw(i.content)
        </article>
    }
}
else if (Model.detail != null & Model.detail.Count() == 1)
{
    <article class="editor-content">
        @Html.Raw(Model.detail.First().content)
    </article>
}