@model DotWeb.Controller.CategoryL2Data
@{
    ViewBag.Title = Model.l1_name;
    ViewBag.BodyClass = Model.body_class;
    ViewBag.breadCrumb = Model.name;
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/jquery.scroller.js"></script>
    <script>
        $('.scroll-nav').scroller({
            bodyName: '#main'
        });
    </script>
}
@section breadCrumb {
    <li><a href="~/Assets">@Model.l1_name</a></li>
}

<h1 class="title-underline-d">
    <span id="e-title">@ViewBag.breadCrumb</span>
    <small class="block">@(((DateTime)Model.UpdateDatetime).ToString("yyyy/MM/dd"))</small>@* 最後更新日期 *@
</h1>

@if (Model.categoryL3Data != null & Model.categoryL3Data.Count() > 1)
{
    <nav class="scroll-nav">
        @foreach (var i in Model.categoryL3Data)
        {
            <a href=@("#p-"+i.id)>@i.name</a>
        }
    </nav>

    foreach (var i in Model.categoryL3Data)
    {
        <article id=@("p-"+i.id) class="editor-content scroll-content">
            <h2 class="title">@i.name</h2>
            @if (i.content != null)
            {
                @Html.Raw(i.content)
            }
        </article>
    }
}
else if (Model.categoryL3Data != null & Model.categoryL3Data.Count() == 1)
{
    <article class="editor-content">
        @if (Model.categoryL3Data.First().content != null)
        {
            @Html.Raw(Model.categoryL3Data.First().content)
        }
    </article>
}

