@model DotWeb.WebApp.Controllers.ServerInfo
@using ProcCore.Business.DB0
@{
    ViewBag.Title = "公設預約";
    ViewBag.BodyClass = "Service";
    ViewBag.breadCrumb = "我的預約清單";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section Scripts {
    <script src="~/Scripts/cdn/jquery.loadmask.min.js"></script>
    <script src="~/Scripts/src/tsx/w-cancel_order.js"></script>
}

@section breadCrumb {
    <li><a href="~/Servcie">公設預約</a></li>
}

<h1 class="title-underline-d">
    @ViewBag.breadCrumb
    <small class="block">Public appointments</small>
</h1>

@* 若無任何預約，顯示下列
    <h5 class="text-primary">目前無任何預約</h5> *@

<table class="table-hover full">
    <tr>
        <th>您已預約公設項目</th>
        <th>使用人數</th>
        <th>使用日期</th>
        <th>聯絡人姓名</th>
        <th>聯絡電話</th>
        <th>預約狀態</th>
    </tr>
    @foreach (var i in Model.reserve)
    {
        <tr>
            <td>@i.f_name</td>
            <td>@i.person 人</td>
            <td>
                @* 日期寫法 dates=20160829T093000 - 2016/08/29 17點30分0秒
                    T(時間) 17 - 8 = 09 *@
                @{
                    //減8小時變國際時間
                    string day = i.day.ToString("yyyy/MM/dd");
                    string s = string.Format("{0} {1}:{2}:{3}", day, i.s_time.Hours, i.s_time.ToString("mm"), i.s_time.ToString("ss"));
                    string e = string.Format("{0} {1}:{2}:{3}", day, i.e_time.Hours, i.e_time.ToString("mm"), i.e_time.ToString("ss"));
                    DateTime s_t = DateTime.Parse(s);
                    DateTime e_t = DateTime.Parse(e);
                    string calendar_string = string.Format("https://www.google.com/calendar/render?action=TEMPLATE&trp=true&sf=true&output=xml&dates={0}Z/{1}Z&text=德鄉社區{2}預約", s_t.AddHours(-8).ToString("yyyyMMddTHHmmss"), e_t.AddHours(-8).ToString("yyyyMMddTHHmmss"), i.f_name);
                }
                <a href=@(calendar_string) class="tooltip" data-tooltip="加到 google 行事曆" target="new">@i.day.ToString("yyyy/MM/dd") @s_t.ToString("HH:mm") ~ @e_t.ToString("HH:mm")</a>
            </td>
            <td>@i.name</td>
            <td>@i.tel</td>
            <td>
                <span class="label @CodeSheet.GetStateVal(i.state, i_CodeName.IconClass, CodeSheet.reserve_state)">
                    @CodeSheet.GetStateVal(i.state, i_CodeName.Value, CodeSheet.reserve_state)
                </span>
                @if (i.state == (int)ReserveState.Fail)
                {
                    <br />
                    <span class="text-danger">@i.fail_info</span>
                }
                else if (i.state == (int)ReserveState.no)
                {
                    <button class="btn btn-sm bg-secondary icon-close" type="button" id="r_cancel" data-id="@i.id">取消預約</button>
                }
            </td>
        </tr>
                    }
</table>

<nav class="nav-reserve">
    @foreach (var i in Model.facility)
    {
        <a href="~/Service/Reserve?id=@i.id" class="card">@i.name</a>
    }
</nav>