@model DotWeb.Controller.CategoryL1Data
@{
    ViewBag.Title = Model.name;
    ViewBag.BodyClass = Model.body_class;
    ViewBag.breadCrumb = "長期修繕計畫";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Content/js/jquery.scroller.js"></script>
    <script>
        $('.scroll-nav').scroller({
            bodyName: '#main'
        });
    </script>
    <script>
        var url = location.hash;
    </script>
}
@section breadCrumb {
    <li><a href="~/Fix">@Model.name</a></li>
}
<h1 class="title-underline-d">
    @ViewBag.breadCrumb
    <small class="block">@(((DateTime)Model.UpdateDatetime).ToString("yyyy/MM/dd"))</small>@* 最後更新日期 *@
</h1>

@if (Model.categoryL2Data != null & Model.categoryL2Data.Count() > 1)
{
    <nav class="scroll-nav">
        @foreach (var i in Model.categoryL2Data)
        {
            <a href=@("#p-"+i.id)>@i.name</a>
        }
    </nav>

    foreach (var i in Model.categoryL2Data)
    {
        <article id=@("p-"+i.id) class="editor-content scroll-content">
            <h2 class="title">@i.name</h2>
            @Html.Raw(i.content)
        </article>
    }
}
else if (Model.categoryL2Data != null & Model.categoryL2Data.Count() == 1)
{
    <article class="editor-content">
        @Html.Raw(Model.categoryL2Data.First().content)
    </article>
}


