@model DotWeb.WebApp.Controllers.CommentsInfo
@using ProcCore.Business.DB0
@{
    ViewBag.Title = "留言板";
    ViewBag.BodyClass = "Comments";
    ViewBag.breadCrumb = "住戶留言板";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/Content/css/popup.css?v=@CommWebSetup.CacheVer">
}

@section Scripts {
    <script src="~/Content/js/jquery-scrolltofixed.js"></script>
    <script src="~/Content/js/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/src/tsx/w_send_msg.js"></script>
    <script src="~/Scripts/cdn/jquery.loadmask.min.js"></script>
    <script>
        // 卷軸卷動時固定位置
        $('.comment-self').scrollToFixed({
            marginTop: 30,
            limit: function () {
                var limit = $('.comment-ask').offset().top - $('.comment-self').outerHeight(true) - 200;
                return limit;
            },
            zIndex: 999,
        });
        // 彈出視窗
        var $this = $(this),
            index = $this.data('index');
        $('.popup').magnificPopup({
            type: 'ajax', // ajax
            overflowY: 'auto',
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
        });
    </script>
}

<h1 class="title-underline-d">
    @ViewBag.breadCrumb
    <small class="block">COMMENTS</small>
</h1>

<aside class="comment-self">

    @if (Model.my_msg.Count() > 0)
    {
        <h4 class="title-underline">您已提出的問題</h4>
        foreach (var i in Model.my_msg)
        {
            <dl class="card">
                <dt>@i.q_content</dt>
                <dd>@CodeSheet.GetStateVal(i.state, i_CodeName.Value, CodeSheet.msg_state)</dd>
            </dl>
        }
    }
    else
    { @* 若用戶未提出任何問題，上列都不顯示，只顯示下面的我要留言 *@
        <footer class="text-center">
            <a href="#ask" class="btn bg-warning font-sm scroll">我要留言</a>
        </footer>
    }
</aside>

<section class="comment-list col-rest">
    @* 所有用戶提出的問題 - 以時間排序 *@
    @foreach (var i in Model.msg)
    {
        <article>
            <header>
                <span class="label">@i.type_name</span>
                <h3>@i.q_content</h3>
                <time>@(((DateTime)i.q_time).ToString("yyyy/MM/dd"))</time>
            </header>
            @if (i.a_content != null)
            {
                if (i.a_content.Length >= 150)
                {
                    <main>
                        @Html.Raw(i.a_content.Substring(0, 150)) <span>...</span>
                    </main>
                    @* 最多顯示150字，若超過才出現 more按鈕 *@
                    <a href="~/Comments/Popup?id=@i.id" class="btn popup">MORE</a>
                }
                else
                {
                    <main>
                        @Html.Raw(i.a_content)
                    </main>
                }
            }

        </article>
    }
</section>

<form id="ask" class="comment-ask">
    <h2>我要留言</h2>
    <div class="col-5 col-first">
        <p class="row">
            <label for="">住戶 @ViewBag.r_no</label>
            <input type="text" class="col-rest" value="@(ViewBag.r_name)" required id="m_q_name">
        </p>
        <p class="row">
            <label for="">聯絡電話</label>
            <input type="text" class="col-rest" value="" placeholder="0000-000-000" id="m_q_tel">
        </p>
        <p class="row">
            <label for="">E-mail</label>
            <input type="email" class="col-rest" placeholder="xx@gmail.com" required id="m_q_email">
        </p>
        <p class="row">
            <label for="">欲詢問之業務項目</label>
            <select name="" id="m_type" required>
                <option value="">請選擇詢問項目</option>
                @* 下列內容不確定是否要在後台可編輯 *@
                @foreach (var i in Model.option)
                {
                    <option value="@i.val">@i.Lname</option>
                }
            </select>
        </p>
    </div>
    <div class="col-7 col-last">
        <textarea name="" id="m_q_content" cols="40" rows="8" placeholder="請在此輸入留言內容..." required></textarea>
        <button class="btn bg-secondary padding-xl">送出留言</button>
    </div>
</form>